html {
	display: flex;
	justify-content: center;
	background: linear-gradient(90deg, rgba(198,231,233,1) 0%, rgba(187,187,207,1) 55%, rgba(159,168,170,1) 100%);
	font-family: 'Permanent Marker', cursive;
}

h1 {
	color: white;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 1%;
	font-size: 350%;
}

#container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 43em;
	height: 43em;
  }
  
.grid-item {
    border: 1px solid #4d4d4d;
  }

#color-btns-container {
	text-align: center;
	padding: 1%;
	padding-bottom: 4%;
}

button {
	color: white;
	background-color: black;
	font-family: 'Permanent Marker', cursive, sans-serif;	
	font-size: 135%;
	border-radius: 25px;
}

button:hover {
	box-shadow: 5px 5px 15px -2px #2E2E2E;
	cursor: pointer;
}

button:focus {
	outline: none;
}

#refresh-btn-container {
	text-align: center;
	padding: 1%;
}
